In [1]:
import numpy as np
import pandas as pd

In [9]:
d1=pd.read_csv("Sales_April_2019.csv")
d2=pd.read_csv("Sales_January_2019.csv")
d3=pd.read_csv("Sales_February_2019.csv")
d4=pd.read_csv("Sales_March_2019.csv")
d5=pd.read_csv("Sales_May_2019.csv")
d6=pd.read_csv("Sales_June_2019.csv")
d7=pd.read_csv("Sales_July_2019.csv")
d8=pd.read_csv("Sales_August_2019.csv")
d9=pd.read_csv("Sales_September_2019.csv")
d10=pd.read_csv("Sales_October_2019.csv")
d11=pd.read_csv("Sales_November_2019.csv")
d12=pd.read_csv("Sales_December_2019.csv")

In [11]:
df=pd.concat([d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12])

In [12]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [13]:
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [17]:
df.head(3)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [21]:
df["City"]=df['Purchase Address'].str.split(",",expand=True)[1]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 25116
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
 6   City              185950 non-null  object
dtypes: object(7)
memory usage: 11.4+ MB

In [32]:
df['Month']=df['Order Date'].str[0:2]

In [34]:
df['Date']=df['Order Date'].str[3:5]

In [36]:
df['Year']=df['Order Date'].str[6:8]

In [39]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,Month,Date,Year
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas,04,19,19
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston,04,07,19
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,04,12,19
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,04,12,19
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles,04,30,19

In [43]:
df['Price Each'].value_counts()

11.95         21903
14.95         21658
2.99          20641
3.84          20577
11.99         18882
150           15450
99.99         13325
149.99         7507
700            6804
389.99         6230
379.99         6181
600            5490
300            4780
1700           4702
999.99         4128
109.99         4101
400            2056
600.0          1347
Price Each      355
150.0            99
700.0            38
1700.0           22
300.0            20
400.0             9
Name: Price Each, dtype: int64

In [46]:
df['Price Each']=df['Price Each'].replace({'Price Each':'0'})

In [49]:
df['Price Each']=pd.to_numeric(df['Price Each'])

In [51]:
df['Quantity Ordered'].value_counts()

1                   168552
2                    13324
3                     2920
4                      806
Quantity Ordered       355
5                      236
6                       80
7                       24
8                        5
9                        3
Name: Quantity Ordered, dtype: int64

In [56]:
df['Quantity Ordered']=df['Quantity Ordered'].replace({'Quantity Ordered':'0'})

In [57]:
df['Quantity Ordered'].value_counts()

1    168552
2     13324
3      2920
4       806
0       355
5       236
6        80
7        24
8         5
9         3
Name: Quantity Ordered, dtype: int64

In [59]:
df['Quantity Ordered']=pd.to_numeric(df['Quantity Ordered'])

In [69]:
df['Month'].value_counts()

12    24984
10    20282
04    18279
11    17573
05    16566
03    15153
07    14293
06    13554
02    11975
08    11961
09    11621
01     9709
Or      355
Name: Month, dtype: int64

In [68]:
df['Year']=df['Year'].replace({'Da':'0'})

In [70]:
df['Month']=df['Month'].replace({'Or':'0'})

In [75]:
df['Date']=df['Date'].replace({'er':'0'})

In [76]:
df['Month']=pd.to_numeric(df['Month'])
df['Year']=pd.to_numeric(df['Year'])
df['Date']=pd.to_numeric(df['Date'])

In [80]:
df['Time']=df['Order Date'].str[9:14]

In [93]:
df['Time']=df['Time'].replace({'0/0':'00:00'})

In [94]:
df['Time'].value_counts()

00:00    437
11:58    252
19:20    246
19:15    243
20:13    242
        ...
04:09      8
03:47      7
03:23      7
04:23      6
04:05      5
Name: Time, Length: 1440, dtype: int64

In [95]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,Month,Date,Year,Time
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas,4,19,19,08:46
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston,4,7,19,22:30
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,4,12,19,14:38
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,4,12,19,14:38
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles,4,30,19,09:27

In [96]:
df['Sales']=df['Quantity Ordered']*df['Price Each']

In [97]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,Month,Date,Year,Time,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas,4,19,19,08:46,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston,4,7,19,22:30,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,4,12,19,14:38,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,4,12,19,14:38,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles,4,30,19,09:27,11.99

In [105]:
df.groupby('City')['Sales'].sum().sort_values(ascending=False).to_frame().iloc[0]

Sales    8262203.91
Name:  San Francisco, dtype: float64

In [107]:
df.groupby('Month')['Sales'].sum().sort_values(ascending=False).to_frame().iloc[0]

Sales    4613443.34
Name: 12, dtype: float64

In [120]:
df.groupby('Product')['Quantity Ordered'].sum().sort_values(ascending=False).to_frame().iloc[0]

Quantity Ordered    31017
Name: AAA Batteries (4-pack), dtype: int64

In [123]:
df['Hour']=df['Time'].str[0:2]

In [126]:
df['Hour']=pd.to_numeric(df['Hour'])

In [128]:
def shifts(hour):
    if hour>0 and hour<=12:
        return 'Morning'
    elif hour>12 and hour<=16:
        return 'Noon'
    elif hour>16 and hour<19:
        return 'Evening'
    elif hour>19 and hour<=24:
        return 'Night'

In [129]:
df['Shift']=df['Hour'].apply(shifts)

In [130]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,Month,Date,Year,Time,Sales,Hour,Shift
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas,4,19,19,08:46,23.90,8,morning
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston,4,7,19,22:30,99.99,22,night
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,4,12,19,14:38,600.00,14,noon
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,4,12,19,14:38,11.99,14,noon
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles,4,30,19,09:27,11.99,9,morning

In [137]:
df.groupby('Shift')['Sales'].sum().sort_values(ascending=False).reset_index().iloc[0]

Shift        morning
Sales    11820882.06
Name: 0, dtype: object

In [139]:
df['Order ID'].value_counts()

Order ID    355
160873        5
226625        4
178158        4
289117        4
           ...
201973        1
201974        1
201975        1
201976        1
319670        1
Name: Order ID, Length: 178438, dtype: int64